doctype html
html
  head
    title= title
    
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Comfortaa')   

	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Slab:400,700|Material+Icons')   

	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans') 

	link(rel='stylesheet', href='bower_components/angular-material/angular-material.min.css')

	link(rel='icon', type="image/x-icon", href='../images/icon128.ico')	
	link(rel='shortcut icon', type="image/x-icon", href='../images/icon128.ico')	

	link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content

    include scripts
